/* COLOURS
#232a2f - grey
#858152
#b0b87b
#7a8a7f //
#c9d0a1
#a3b7ad //
#547c80
#9a9a99 //
#a3b7ad //
#C9E4CA
#87BBA2
#55828B
#3B6064
#364958
 */

 /* ********************  GLOBAL  *********************  */
body {
  background: #F7FFF7;
  color: #232a2f;
  margin: 0;
}

img {
  width: 300px;
}


 /* ********************  PROJECTS / PORTFOLIO  *********************  */
 header {
   background: #C6D2CC;
 }

 h1 {
   margin-top: 0;
 }

#profile-picture {
  border-radius: 50%;
  width: 200px;
}

 /* ********************  WORK EXPERIENCE  *********************  */
 .work-experience {
 }

 /* ********************  SKILLS  *********************  */
 .skills {
   background: #CCCCCC;
 }

 /* ********************  PROJECTS / PORTFOLIO  *********************  */
 .project {
 }

 /* ********************  LEADERSHIP EXPERIENCE  *********************  */
 .leadership-experience {
   background: #C6D2CC;
 }

 /* ********************  EDUCATION  *********************  */
 .education {
 }

  /* ********************  CONTACT INFO  *********************  */
  footer{
    background: #CCCCCC;
  }
