/* COLOURS
#F7FFF7
#232a2f
#C6D2CC
#C6D0D2
*/



/* ********************  GLOBAL  *********************  */
body {
  /* background: #F7FFF7; */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
}

.content-section {
  max-width: 840px;
  width: 85%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

img {
  width: 300px;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #666882;
  display: inline-block;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
}

p, li {
  line-height: 2;
}

h2 {
  padding-top: 0px;
  /* margin-top: 0px; */
}
/* ********************  PROJECTS / PORTFOLIO  *********************  */

header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-left: 0px;
  padding-right: 0px;
  border-style: none;
  padding-top: 300px;
  padding-bottom: 100px;
  text-align: center;
  /* line-height: 1; */
}

header p {
  line-height: 1;
}

h1 {
  /* margin: 0; */
  font-size: 3em;
}

#profile-picture {
  border-radius: 50%;
  width: 200px;
  /* margin: 0; */
}

h2 {
  /* margin-top: 40px; */
}

/* ********************  WORK EXPERIENCE  *********************  */
#work-experience {
}

/* ********************  SKILLS  *********************  */
#skills {
}

/* ********************  PROJECTS / PORTFOLIO  *********************  */
#projects {
  background: #CCCDD7;
}

/* ********************  LEADERSHIP EXPERIENCE  *********************  */
#leadership-experience {
  background: #D8D8D7;
}

/* ********************  EDUCATION  *********************  */
#education {
}

/* ********************  CONTACT INFO  *********************  */
footer{
  background: #CCCDD7;
  padding: 25px;
  margin: 0;
  text-align: center;
}

footer img {
  width: 40px;
  height: 40px;
}
footer img:hover {
  opacity: 75%;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
  display: flex;
  justify-content: center;
}

.contact-list a {
  display: inline-block;
  padding: 0px 25px;
}

/* ********************  RESPONSIVE  *********************  */

@media (max-width:700px) {

  header .content-section {
    max-width: 300px;
  }

  body, a {
    font-size: 12px;
  }

  /* h1 {
    font-size: 2em;
  } */

  h2 {
    /* font-size: 1.5em; */
    /* margin-top: 25px; */
  }

}
